body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("lavender.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("bgimg2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("bgimg3.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("blue.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color:none;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


/* Contact */
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-github-square {
  background: none;
  color: white;
}
.fa-linkedin-square {
  background: none;
  color: white;
}

.fa-envelope-square {
  background: none;
  color: white;
}

.fa-file-download {
  background: none;
  color: white;
}

/* circle link buttons */
.media{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-53%, -50%);
}